<mat-toolbar color="primary" style="padding: 0;margin: 0;background-color: #F44336; height: 100%">
  <div style="display: flex; align-items: center;justify-content: center;width: 100%; height: 100%; margin-top: 20px">
      <mat-form-field>
        <mat-select style="color: #000000" (change)="selectChild()" [(ngModel)]="childId" placeholder="Liste des souhaits de ...">
          <mat-option *ngFor="let child of childs" [value]="child.id">
              {{ child.name }}
          </mat-option>
      </mat-select>
      </mat-form-field>
  </div>
  <mat-icon (click)="disconnect()" style="margin-left: auto; margin-right: 5px" class="pointer">exit_to_app</mat-icon>
  <mat-toolbar-row style="background-color: #606060" *ngIf="offLineFlag">
      <div style="display: flex; align-items: center;justify-content: center;width: 100%; height: 100%; margin-top: 20px">
          <span>Vous êtes hors-ligne</span>
      </div>
      <mat-icon style="margin-left: auto; margin-right: 5px">network_locked</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
