.pointer {
  cursor: pointer;
}

.user-icon{
  height: 40px;
  margin-left : 5px;
  margin-right: 5px;
}

.hidden{
  display: none;
}

.mat-option.mat-selected.mat-primary, .mat-primary .mat-option.mat-selected !important{
  color: #000000;
}
