<md-toolbar color="primary" style="padding: 0;margin: 0;background-color: #F44336; height: 100%">
  <div style="display: flex; align-items: center;justify-content: center;width: 100%; height: 100%; margin-top: 20px">
      <md-select style="color: #000000" (change)="selectChild()" [(ngModel)]="childId" placeholder="Liste des souhaits de ...">
          <md-option *ngFor="let child of childs" [value]="child.id">
              {{ child.name }}
          </md-option>
      </md-select>
  </div>
  <md-icon (click)="disconnect()" style="margin-left: auto; margin-right: 5px" class="pointer">exit_to_app</md-icon>
  <md-toolbar-row style="background-color: #606060" *ngIf="offLineFlag">
      <div style="display: flex; align-items: center;justify-content: center;width: 100%; height: 100%; margin-top: 20px">
          <span>Vous êtes hors-ligne</span>
      </div>
      <md-icon style="margin-left: auto; margin-right: 5px">network_locked</md-icon>
  </md-toolbar-row>
</md-toolbar>
