<md-card><h1 md-line md-dialog-title>Êtes-vous sûr de reserver ce présent?</h1></md-card><br/>
<md-card>
    <p md-line>Après votre confirmation, ce présent ne sera plus selectionnable par une autre personne.
        <br/>Si vous le souhaitez, vous pouvez mettre votre nom.</p>
    <input md-input autofocus #dialogInput>
</md-card>
<md-dialog-actions>
    <button md-raised-button
            (click)="dialogRef.close({'answer':true, 'santaName': dialogInput.value})">Oui, je confirme</button>
    <button md-raised-button md-dialog-close>Non, je ne suis pas sûr</button>
</md-dialog-actions>