<mat-card><h1 mat-line mat-dialog-title>Êtes-vous sûr de reserver ce présent?</h1></mat-card><br/>
<mat-card>
    <p mat-line>Après votre confirmation, ce présent ne sera plus selectionnable par une autre personne.
        <br/>Si vous le souhaitez, vous pouvez mettre votre nom.</p>
    <input mat-input autofocus #dialogInput>
</mat-card>
<mat-dialog-actions>
    <button mat-raised-button
            (click)="dialogRef.close({'answer':true, 'santaName': dialogInput.value})">Oui, je confirme</button>
    <button mat-raised-button mat-dialog-close>Non, je ne suis pas sûr</button>
</mat-dialog-actions>