<div style="height: 100%">
  <div class="page">
    <div class="page-header">
      <app-header [childs]="state.childs" [childId]="childId"></app-header>
      <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary"></mat-progress-bar>
      <div style="height: 5px" *ngIf="!loading"></div>
    </div>
    <div class="page-content">
      <div class="mainContainer">
        <mat-card style="margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;">
          <mat-list>
            <mat-list-item *ngFor="let present of state.presents">
              <mat-icon (click)="openEditDialog(present)" class="pointer" *ngIf="(!isChecked(present) && isAdmin() && !offLineFlag)">edit</mat-icon>
              <mat-icon (click)="remove(present.id)" class="pointer" *ngIf="isAdmin() && !offLineFlag">delete</mat-icon>
              <mat-checkbox [checked]="present.santaName" [disabled]="((!!present.santaName && !isAdmin()) || offLineFlag)" (click)="checkPresent(present)" ></mat-checkbox>
              <img *ngIf="present.pics" mat-list-avatar src="{{present.pics}}" alt="...">
              <h3 mat-line> {{present.label}}</h3>
              <p mat-line>
                <span *ngIf="present.url"> <a href="{{present.url}}" target="_blank" >{{present.url}} </a><br/></span>
                <span *ngIf="present.url2"> <a href="{{present.url2}}" target="_blank" >{{present.url2}} </a><br/></span>
                <span *ngIf="present.url3"> <a href="{{present.url3}}" target="_blank" >{{present.url3}} </a><br/></span>
                <span *ngIf="present.santaName"> <i> Déjà préparé par {{present.santaName}} </i><br/></span>
              </p>
              <mat-divider></mat-divider>
            </mat-list-item>
            <h3 *ngIf="!!state.presents && state.presents.length === 0 && !loading">Cette liste est vide :(</h3>
          </mat-list>
        </mat-card>
      </div>
    </div>
    <div class="page-footer" *ngIf="isAdmin() && !offLineFlag">
      <div class="btn-div" style="display:flex;justify-content: space-between;margin-top: -56px;" >
        <div>&nbsp;</div>
        <button class="btn-md" mat-fab (click)="openCreationDialog()" style="top: 0px;"><mat-icon >add</mat-icon></button>
      </div>
    </div>
  </div>

</div>
