<md-card><h3 md-line >Voici les souhaits de {{child}} :</h3></md-card>
<br/>
<md-card>
  <md-list>
    <md-list-item *ngFor="let present of presents">
      <md-checkbox [checked]="present.santaName" [disabled]="!(!present.santaName)" (click)="(!present.santaName?openDialog(present.id):false)" ></md-checkbox>
      <img *ngIf="present.pics" md-list-avatar src="{{present.pics}}" alt="...">
      <h3 md-line> {{present.label}} </h3>
      <p md-line>
        <span> <a href="{{present.url}}" target="_blank" >{{present.url}} </a></span><br/>
        <span *ngIf="present.santaName" class="demo-2"> <i> Déjà préparé par les petits lutins de  {{present.santaName}} </i></span>
      </p>
    </md-list-item>
  </md-list>
</md-card>
