<md-sidenav-container style="height: 100%">

  <md-sidenav #sideNav mode="side" class="app-sidenav" opened="true">
    <app-menu></app-menu>
  </md-sidenav>

  <div class="page">
    <div class="page-header"><app-header (onToggleSideNav)="sideNav.toggle()" [childName]="child"></app-header></div>
    <div class="page-content">
      <div class="mainContainer">
        <md-card>
          <md-list>
            <md-list-item *ngFor="let present of presents">
              <md-checkbox [checked]="present.santaName" [disabled]="(!!present.santaName && !isAdmin())" (click)="checkPresent(present)" ></md-checkbox>
              <md-icon (click)="remove(present.id)" class="pointer" *ngIf="isAdmin()">delete</md-icon>
              <img *ngIf="present.pics" md-list-avatar src="{{present.pics}}" alt="...">
              <h3 md-line> {{present.label}}</h3>
              <p md-line>
                <span *ngIf="present.url"> <a href="{{present.url}}" target="_blank" >{{present.url}} </a><br/></span>
                <span *ngIf="present.url2"> <a href="{{present.url2}}" target="_blank" >{{present.url2}} </a><br/></span>
                <span *ngIf="present.url3"> <a href="{{present.url3}}" target="_blank" >{{present.url3}} </a><br/></span>
                <span *ngIf="present.santaName"> <i> Déjà préparé par {{present.santaName}} </i><br/></span>
              </p>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </md-card>
      </div>
    </div>
    <div class="page-footer" *ngIf="isAdmin()">
      <div class="btn-div" style="display:flex;justify-content: space-between" >
        <div>&nbsp;</div>
        <button class="btn-md" md-fab (click)="openCreationDialog()" style="top: 0px;"><md-icon >add</md-icon></button>
      </div>
    </div>
  </div>

</md-sidenav-container>
